@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111315;
  --foreground: #FEF7EE;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'DM Sans Variable', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
